<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Casey A. Ydenberg</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>

	<body>
		<div class="off-canvas-wrapper">
			<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

				{{#ifeq section "home"}}
				{{else}}
					<div class="off-canvas position-left reveal-for-medium" data-off-canvas>
						<sidebar class="sidebar-body">
							<h2>Casey A. Ydenberg</h2>
							<h3>Web Developer | Edmonton, Alberta</h3>

							<ul class="main-nav">
								{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
							</ul>

							<ul class="social-nav">
								<li>GitHub</li>
								<li>Twitter</li>
								<li>LinkedIn</li>
							</ul>

						</sidebar>
					</div>
				{{/ifeq}}

				<div class="off-canvas-content" data-off-canvas-content>
					{{{body}}}
				</div>

			</div>
		</div>

		<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
