<main class="main-content">
	<header class="main-content__header">
		<h1>{{pageTitle}}</h1>
	</header>

	<section class="main-content__body blog-listing">
		{{# each data.posts.results}}
			<article data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="blog-listing__post">
				<h2><a href="{{canonicalUrl}}" class="natural--secondary">{{{title}}}</a></h2>
				<div class="blog-listing__post-content">{{{content.brief.html}}}</div>
				<p class="blog-listing__read-more"><a href="{{canonicalUrl}}">Read more &gt;&gt;</a></p>
				<hr />
			</article>
		{{/each}}
	</section>

	<footer class="main-content__footer">
		{{>pagination}}
	</footer>

</main>
