<main class="main-content">
	<header class="main-content__header">
		<h1>{{pageTitle}}</h1>
	</header>

	<section class="main-content__body">
		{{#if enquirySubmitted}}
			<h2>Thanks for getting in touch.</h2>
		{{else}}
			<form method="POST" action="/contact">

				{{#if validationErrors}}
					<h2>Name and Email are required</h2>
				{{/if}}

				<input type="hidden" name="action" value="contact">
				<label>
					Name *
					<input type="text" name="name.full" aria-required="true" value="{{formData.[name.full]}}" {{#if validationErrors.name}}class="has-error"{{/if}}>
				</label>
				<label>
					Email *
					<input type="email" name="email" aria-required="true" value="{{formData.email}}" {{#if validationErrors.email}}class="has-error"{{/if}}>
				</label>
				<label>
					Message
					<textarea name="message" rows="4" aria-required="true">{{formData.message}}</textarea>
				</label>
				<button type="submit" class="secondary button">Send</button>
			</form>
		{{/if}}
	</section>

</main>
