<main class="homepage-main">

	<div class="homepage-row">
		<div class="homepage-tile">
			{{#with data.projects.[0]}}
				<a class="homepage-tile__item homepage-project" href="#">
					<div class="homepage-project__bg">{{{cloudinaryTag image sizes="50vw"}}}</div>
					<div class="homepage-project__fg">
						<h2 class="homepage-project__title">{{{title}}}</h2>
					</div>
				</a>
			{{/with}}
		</div>
		<div class="homepage-tile">
			{{#with data.projects.[1]}}
				<div class="homepage-tile__item homepage-project">
					<div class="homepage-project__bg">{{{cloudinaryTag image sizes="50vw"}}}</div>
					<div class="homepage-project__fg">
						<h2>{{{title}}}</h2>
					</div>
				</div>
			{{/with}}
		</div>
	</div>

	<nav class="homepage-nav">
		<a class="homepage-nav__link" href="#">Blog</a>
		<a class="homepage-nav__link" href="#">CV</a>
		<a class="homepage-nav__link" href="#">Contact</a>
	</nav>

	<div class="homepage-row">
		<div class="homepage-tile">
			{{#with data.projects.[2]}}
				<div class="homepage-tile__item homepage-project">
					<div class="homepage-project__bg">{{{cloudinaryTag image sizes="50vw"}}}</div>
					<div class="homepage-project__fg">
						<h2>{{{title}}}</h2>
					</div>
				</div>
			{{/with}}
		</div>
		<div class="homepage-tile">
			{{#with data.projects.[3]}}
				<div class="homepage-tile__item homepage-project">
					<div class="homepage-project__bg">{{{cloudinaryTag image sizes="50vw"}}}</div>
					<div class="homepage-project__fg">
						<h2>{{{title}}}</h2>
					</div>
				</div>
			{{/with}}
		</div>
	</div>

</main>
