<article class="main-content">
	{{#with data.post}}

		<header class="main-content__header">
			<h1>{{title}}</h1>
			<p><a href="/blog">&larr; back to the blog</a></p>
		</header>

		<section class="main-content__body blog-content">
			{{{content.extended.html}}}
		</section>

	{{/with}}

	<hr />

	<footer class="main-content__footer">
		{{>cta}}

		<h2>Share this post</h2>
		<div class="share-icons">
			<a href="https://facebook.com/sharer.php?url={{encode currentUrl}}" title="Share this page on Facebook">
				<span class="hidden"><i class="icon-facebook"></i></span>
			</a>
			<a href="https://twitter.com/share?text={{encode pageTitle}}&url={{encode currentUrl}}" title="Tweet this page">
				<span class="hidden"><i class="icon-twitter"></i></span>
			</a>
			<a href="https://www.linkedin.com/shareArticle?url={{encode currentUrl}}&mini=true&title={{encode pageTitle}}" title="Tweet this page">
				<span class="hidden"><i class="icon-linkedin"></i></span>
			</a>
		</div>

		<h2>Comments</h2>
		<div class="post-comments">
				<div id="disqus_thread"></div>
				<script type="text/javascript">
						/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						var disqus_shortname = 'caydenberg'; // required: replace example with your forum short

						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
								var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
	</footer>

</article>
