<article class="main-content">
	{{#with data.post}}

		<header class="main-content__header">
			<h1>{{title}}</h1>
			<p><a href="/blog">&larr; back to the blog</a></p>
		</header>

		<section class="main-content__body blog-content">
			{{{content.extended.html}}}
		</section>

	{{/with}}

	<hr />

	<footer class="main-content__footer">
		{{>cta}}

		<h2>Share this post</h2>
		<div class="share-icons">
			<a href="https://facebook.com/sharer.php?url={{encode currentUrl}}" title="Share this page on Facebook">
				<span class="hidden"><i class="icon-facebook"></i></span>
			</a>
			<a href="https://twitter.com/share?text={{encode pageTitle}}&url={{encode currentUrl}}" title="Tweet this page">
				<span class="hidden"><i class="icon-twitter"></i></span>
			</a>
			<a href="https://www.linkedin.com/shareArticle?url={{encode currentUrl}}&mini=true&title={{encode pageTitle}}" title="Tweet this page">
				<span class="hidden"><i class="icon-linkedin"></i></span>
			</a>
		</div>

	</footer>

</article>
