{{#with data.project}}

	<article class="main-content">
		<header class="main-content__header">
			<h1>{{title}}</h1>
			<p class="lede">{{author.displayName}}</p>
			<p><a href="/">&larr; back to my portfolio</a></p>
			{{{cloudinaryTag image sizes="(max-width: 991px) 100vw, 800px" alt="Screenshot of the application"}}}
			<a class="launch-link" href="{{links.site}}" target="_blank">Launch</a>
		</header>

		<section class="main-content__body portfolio-content">
			<h2>The Problem</h2>
			{{{problem.html}}}
			<h2>My Role</h2>
			{{{myRole.html}}}
		</section>

		<ul class="portfolio-links--large">
			{{#if links.site}}
				<li class="portfolio-links__item">
					<a href="{{links.site}}" title="Link to the site" target="_blank">
						<i class="icon-demo"></i>
					</a>
				</li>
			{{/if}}
			{{#if links.code}}
				<li class="portfolio-links__item">
					<a href="{{links.code}}" title="Link to the code" target="_blank">
						<i class="icon-github"></i>
					</a>
				</li>
			{{/if}}
		</ul>

		<hr />

		<footer>
			{{>cta}}
		</footer>

	</article>

{{/with}}
